<!-- barra de navegacion negra con btones a redes sociales-->

<nav class="navbar navbar-light bg-dark">
    <div class="col-auto logo">
        <app-yoprog-logo></app-yoprog-logo>
    </div>

    <div class="col">
        <span class="navbar-brand mb-0 h1" style="margin: 0px">
            <h3 style="color:white">Sergio Massazza</h3>
        </span>
    </div>

    <div class="btn-group" style="margin: 8px">

        <!-- redes sociales -->
        <app-r-sociales></app-r-sociales>
        <!-- redes sociales -->

        <!--boton dropdown-->            
        <app-login></app-login>
        <!--boton dropdown-->
       
    </div>    
</nav>
<!-- imagen de fondo del header-->

<div class="container-fluid" id="baner"> 
    <img src="../../../assets/fondo-header.jpg" class="img-fluid imagenDeFondo" alt="" >
</div>  