<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    Login
    </button>
    <form class="dropdown-menu p-4">
    <div class="mb-3">
        <label for="DropdownFormName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="DropdownFormName" placeholder="Nombre">
    </div>
    <div class="mb-3">
        <label for="dropdownFormPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="dropdownFormPassword" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
