<!--Div Experiencia y Educacion-->
<div class="card" id="terceraDiv">
    <!-- fila Experiencia-->
    <div class="row filaExperiencia">            
        <div class="col-10"> 
            <h2> Experiencia</h2>
        </div>
        <div class="col-2">
            <a href="#" class="btn-right">
            <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <ul>                                  
                <li><img src="../../../assets/agea.png" alt="" class="imagenExper img-fluid" ></li>
                <li><h3>Mantenimiento mecanico</h3></li>
                <li><h6>Jornada completa</h6></li>
                <li>Desde 1991 - actualidad.</li>
            </ul>   

        </div>
        <div class="col-1 btn-edit">
            <a href="#" class="btn-left" >
            <i class="fa fa-pencil"></i>
            </a>
        </div>
        <div class="col-1">
            <a href="#" class="btn-right">
            <i class="fa-solid fa-trash"></i>
            </a>
        </div>
            
    </div>

      <!-- Fila educacion--> 
    <div class="row filaEducacion">
        <div class="col-10">
            <h2> Educacion</h2>
        </div>
        <div class="col-2">
            <a href="#" class="btn-right">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center col-auto">
            <img src="../../../assets/utn2.png" alt="" class="utn">
        </div>
        <div class="col">
            <ul>
                <li><h3>UTN</h3></li>
                <li> <h6>Ingenieria Electronica (carrera sin terminar )</h6></li> 
                <li>  <p>1993 - 1996</p></li>
            </ul>
        </div>
        
        <div class="col-1 btn-edit">
            <a href="#" class="btn-left" >
            <i class="fa fa-pencil"></i>
            </a>
        </div>
        <div class="col-1">
            <a href="#" class="btn-right">
            <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        
    </div>
    <div class="row">
        <div class="d-flex justify-content-center col-auto">
            <img src="../../../assets/Acamica.jpg" alt="" class="acamica" >
        </div>
        <div class="col">
            <ul>
                <li><h3>Acamica</h3></li>
                <li><h6>Desarrollador web Full Stack (Modalidad Distancia)</h6></li>
                <li><h6>Node-Express-JS-MongoDb-Heroku-Css-Git-Gulp-Docker</h6></li>
                <li> 2015-2017</li>
            </ul>
        </div>
            <div class="col-1">
                <a href="#" class="btn-left" >
                <i class="fa fa-pencil"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="#" class="btn-right">
                <i class="fa-solid fa-trash"></i>
                </a>
            </div>
    </div>
</div>
   