<div class="card" id="cuartaDiv">
    <div class="row filaHardSoft"> 
        <h2>Hard Skills & Soft Skills</h2>
    </div>
    <div class="row">
        <div class="text-center col-sm-6 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'Html'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#117A65'"
            [innerStrokeColor]="'#45B39D '"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        
        <div class="text-center col-sm-6 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#B7950B '"
            [innerStrokeColor]="'#F9E79F'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        
        <div class="text-center col-sm-6 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#76448A'"
            [innerStrokeColor]="'#E6B0AA'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        
        <div class="text-center col-sm-6 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#922B21'"
            [innerStrokeColor]="'#E6B0AA'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        
        <div class="text-center col-sm-6 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#5499C7'"
            [innerStrokeColor]="'#7FB3D5'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        
    </div>
</div>

