<!--Div perfil-->
<div class="card" id="primerDiv">

    <!-- imagen de perfil con btn editor-->
    <div class="row filaPerfil" >
        
        <div class="col-auto">
            <img src="../../../assets/sadosky2.jpg" class="imagenDePerfil img-fluid" alt=""  >
        </div>

        <div class="col-auto btn-edit">
            <a href="#" class="btn-right">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
        
    </div>

    <!-- Informacion Actual-->
    <div class="row filaDatos">
        <div class="col">
            <ul>
                <li> <h1>Sergio Massazza</h1> </li>
                <li> Mecanico Agea.sa </li>
                <li><span>Buenos Aires (Argentina) </span> <a href="#">Informacion de contacto</a> </li>
            </ul>               
        </div>

        
                            
                <div class="col-3 justify-content-center " style="display: flex; ">
                    <a href="#" ><img src="../../../assets/agea.png" alt="logo empresa"  class="agea"></a>
                </div>
                           
       
        <div class="row" style="margin-top:15px"  >
            <div class="col botonActual">
                <button type="button" class="btn btn-primary">Tengo interes en</button>
                <button type="button" class="btn btn-info">Añadir seccion</button>
                <button type="button" class="btn btn-info">Mas</button>
            </div>
        </div>
    </div>
</div>